<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Becas y Ayudas Estudiantiles</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="/static/css/index.css" />
    <style type="text/tailwindcss">
      @theme {
        --color-background: var(--background);
        --color-foreground: var(--foreground);
        --color-muted: var(--muted);
        --color-card: var(--card);
        --color-card-foreground: var(--card-foreground);
        --color-primary: var(--primary);
        --color-primary-forground: var(--primary-forground);
        --color-secondary: var(--secondary);
      }
      @utility card {
        @apply bg-card rounded-[20px] p-5;
      }

      @utility card-title {
        @apply font-bold text-2xl;
      }
      th,
      td {
        @apply py-3 px-5 border-b border-gray-200;
      }
    </style>
  </head>
  <body class="bg-background text-foreground">
    <div class="p-5 flex flex-col gap-5">
      <div>
        <p class="text-muted">UTP Sede Ate - 2026-2</p>
        <h1 class="font-bold text-2xl">Becas y Ayudas Estudiantiles</h1>
      </div>
      <div class="flex gap-5">
        <div class="card flex-1 flex items-center gap-x-[18px]">
          <div
            class="flex justify-center items-center size-14 bg-background rounded-full"
          >
            <i
              data-lucide="user"
              class="text-primary size-8"
              stroke-width="2.5"
            ></i>
          </div>
          <div>
            <h3 class="text-sm font-medium text-card-foreground">
              Estudiantes
            </h3>
            <p class="text-2xl font-bold">{{ metricas.total_estudiantes }}</p>
          </div>
        </div>

        <div class="card flex-1 flex items-center gap-x-[18px]">
          <div
            class="flex justify-center items-center size-14 bg-background rounded-full"
          >
            <i
              data-lucide="check"
              class="text-primary size-8"
              stroke-width="2.5"
            ></i>
          </div>
          <div>
            <h3 class="text-sm font-medium text-card-foreground">
              Becas Aprobadas
            </h3>
            <p class="text-2xl font-bold">
              {{ metricas.total_becas_aprobadas }}
            </p>
          </div>
        </div>

        <div class="card flex-1 flex items-center gap-x-[18px]">
          <div
            class="flex justify-center items-center size-14 bg-background rounded-full"
          >
            <i
              data-lucide="dollar-sign"
              class="text-primary size-8"
              stroke-width="2.5"
            ></i>
          </div>
          <div>
            <h3 class="text-sm font-medium text-card-foreground">
              Ingresos promedio
            </h3>
            <p class="text-2xl font-bold">
              S/ {{ metricas.promedio_ingreso_beneficiarios }}
            </p>
          </div>
        </div>
      </div>

      <div class="flex gap-5 w-full">
        <div class="card flex-1">
          <h3 class="card-title">Becas aplicadas</h3>
          <div id="appliedScholarshipPieChart"></div>
        </div>
        <div class="card flex-1">
          <h3 class="card-title">Distritos</h3>
          <div id="departmentsPieChart"></div>
        </div>
      </div>

      <div class="card">
        <h3 class="card-title">Ingresos Por Distrito</h3>
        <div id="earningsPerDistrictChart"></div>
      </div>

      <div class="card">
        <h3 class="card-title">Cateogoria de Estudiantes</h3>
        <div id="StudentsCategoryChart"></div>
      </div>

      <div class="card">
        <h3 class="card-title">Estudiantes</h3>
        <div class="border border-gray-300 rounded-[20px] mt-4 overflow-hidden">
          <table class="table-auto w-full">
            <thead class="bg-gray-50">
              <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Carrera</th>
                <th>Promedio</th>
                <th>Beca</th>
              </tr>
            </thead>
            <tbody id="table_body"></tbody>
          </table>
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/lucide@latest/dist/umd/lucide.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script>
            lucide.createIcons();

                  // const options = {
                  //   chart: { type: "bar", height: 350 },
                  //   series: [
                  //     {
                  //       name: "Revenue",
                  //       data: [44, 55, 57, 56, 61, 58],
                  //     },
                  //   ],
                  //   xaxis: { categories: ["Jan", "Feb", "Mar", "Apr", "May", "Jun"] },
                  // };

                  // const chart = new window.ApexCharts(
                  //   document.querySelector("#chart"),
                  //   options,
                  // );

                  // chart.render();

                  const appliedScholarshipOptions = {
                    series: {{ distribucion.series | tojson }},

                    chart: {
                      type: "pie",
                      height: 300,
                    },

                    labels: {{ distribucion.labels | tojson }},
                    legend: {
                      show: true,
                    },

                    responsive: [
                      {
                        breakpoint: 480,
                        options: {
                          chart: {
                            width: 320,
                          },
                        },
                      },
                    ],
                  };

                  const appliedScholarshipPieChart = new ApexCharts(
                    document.querySelector("#appliedScholarshipPieChart"),
                    appliedScholarshipOptions,
                  );
                  appliedScholarshipPieChart.render();


            const departmentsOptions = {
              series: {{ distribucion_distritos.series | tojson }},
              chart: {
                type: "pie",
                height: 300,
              },
              labels: {{ distribucion_distritos.labels | tojson }},
              legend: {
                show: true,
              },
              responsive: [
                {
                  breakpoint: 480,
                  options: {
                    chart: {
                      width: 320,
                    },
                  },
                },
              ],
            };

                  const departmentsPieChart = new ApexCharts(
                    document.querySelector("#departmentsPieChart"),
                    departmentsOptions,
                  );
                  departmentsPieChart.render();

                  const earningsPerDistrictOptions = {
                    chart: {
                      height: 350,
                      type: "area",
                      zoom: {
                        enabled: false,
                      },
                    },
              dataLabels: {
                enabled: false
              },
              series: [
                {
                  name: "Ingresos",
                  data: {{ ingresos_distrito.series | tojson }}
                }
              ],
              fill: {
                type: "gradient",
                colors: ['#4318ff'],
                gradient: {
                  shadeIntensity: 1,
                  opacityFrom: 0.4,
                  opacityTo: 1,
                  stops: [0, 100, 100]
                }
              },
              xaxis: {
                categories: {{ ingresos_distrito.categorias | tojson }}
              }
            }

            const earningsPerDistrictChart = new ApexCharts(document.querySelector('#earningsPerDistrictChart'), earningsPerDistrictOptions)
            earningsPerDistrictChart.render()

            const StudentsCategoryOptions = {
        series: [
          {
            name: 'Cantidad',
            data: {{ perfil_postulantes.series | tojson }}
          },
        ],
        chart: {
          type: 'bar',
          height: 350,
        },
        plotOptions: {
          bar: {
            borderRadius: 4,
            borderRadiusApplication: 'end',
            horizontal: true,
          },
        },
        dataLabels: {
          enabled: false,
        },
        xaxis: {
          categories: {{ perfil_postulantes.categorias | tojson }}
        },
      }

      var StudentsCategoryChart = new ApexCharts(document.querySelector('#StudentsCategoryChart'), StudentsCategoryOptions)
      StudentsCategoryChart.render()

            const resultados_postulantes = {{ resultados | tojson }}

            function renderRow({ beca,carrera, nombre, promedio, codigo }) {
              return `<tr>
                        <td>${codigo}</td>
                        <td>${nombre}</td>
                        <td>${carrera}</td>
                        <td class="text-center">${promedio}</td>
                        <td> <span class="text-sm p-2 border border-gray-300 rounded-full inline-flex items-center gap-2"><span class="size-3 ${beca === 'No Elegible' ? 'bg-red-500' : 'bg-green-500' } rounded-full"></span>${beca}</span></td>
                      </tr>`
            }

            document.querySelector('#table_body').innerHTML = resultados_postulantes.map(renderRow).join('')
    </script>
  </body>
</html>
